NODE_ENV=development
PORT=3000
#DATABASE_URL=postgresql://user:password@localhost:5432/todolist_dev
DATABASE_URL=postgresql://postgres:pIz0bJu8czVzr3eA@db.tdbgfthclhtqmotozrue.supabase.co:5432/postgres
DATABASE_POOL_MIN=5
DATABASE_POOL_MAX=20
JWT_ACCESS_SECRET=your_access_secret_here
JWT_REFRESH_SECRET=your_refresh_secret_here
JWT_PASSWORD_RESET_SECRET=your_password_reset_secret_here
FRONTEND_URL=https://your-frontend-url.com
EMAIL_SERVICE_API_KEY=your_email_api_key_here
EMAIL_FROM_ADDRESS=noreply@example.com
CORS_ORIGIN=http://localhost:5173
